@include "constants.css";
@scan "application/modules" "externals/styles/admin/main.css" "Core";

.clear{clear:both;}
.news_li
{
    margin-bottom:5px;
}
div.news_title
{
    min-height:20px;
}
.news_title a
{
    font-weight: bold;
    text-transform:uppercase;
    font-size: 8pt;
}
.news_content
{
    text-align: justify;
}
.news_content .view_more p
{
    display:none;
}
.news_title span
{
    background: none repeat scroll 0 0 #E9F4FA;
    display: block;
    font-size: 9pt;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 5px 5px 5px 5px;
    float:left;
    
}