button {
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-size: 18px;
	margin: 2px 6px;
	padding: 2px 20px 4px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 0.8em/0.8em;
	-moz-border-radius: 0.8em/0.8em;
	border-radius: 0.8em/0.8em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #efefef;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	background: -o-linear-gradient(top,  #7db72f,  #4e7d0e);
	background: -ms-linear-gradient(top,  #7db72f,  #4e7d0e);
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

button:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#336600));
	background: -moz-linear-gradient(top,  #6b9d28,  #336600);
	background: -o-linear-gradient(top,  #6b9d28,  #336600);
	background: -ms-linear-gradient(top,  #6b9d28,  #336600);
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#336600');
	margin: 1px 5px;
	padding: 3px 21px 5px;
}

button:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	background: -o-linear-gradient(top,  #4e7d0e,  #7db72f);
	background: -ms-linear-gradient(top,  #4e7d0e,  #7db72f);
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
	margin: 1px 5px;
	padding: 3px 21px 5px;
}

button:disabled {
	color: #777;
	border: solid 1px #999;
	background: #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#aaaaaa));
	background: -moz-linear-gradient(top,  #eeeeee,  #aaaaaa);
	background: -o-linear-gradient(top,  #eeeeee,  #aaaaaa);
	background: -ms-linear-gradient(top,  #eeeeee,  #aaaaaa);
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa');
	margin: 2px 6px;
	padding: 2px 20px 4px;
	cursor: default;
}