
@include "~/application/modules/Core/externals/styles/constants.css";

div.radcodes_popular_tags ul {

}
div.radcodes_popular_tags ul li {
  display: inline;
}
div.radcodes_popular_tags ul li sup {
  display: none;
}

div.radcodes_popular_tags .tag_x {
  font-size: 0.7em;
}

div.radcodes_popular_tags .tag_0 {
  font-size: 2em;
}
div.radcodes_popular_tags .tag_1,
div.radcodes_popular_tags .tag_2,
div.radcodes_popular_tags .tag_3 {
  font-size: 1.8em;
}
div.radcodes_popular_tags .tag_4,
div.radcodes_popular_tags .tag_5,
div.radcodes_popular_tags .tag_6,
div.radcodes_popular_tags .tag_7,
div.radcodes_popular_tags .tag_8 {
  font-size: 1.5em;
}
div.radcodes_popular_tags .tag_9,
div.radcodes_popular_tags .tag_10,
div.radcodes_popular_tags .tag_11,
div.radcodes_popular_tags .tag_12,
div.radcodes_popular_tags .tag_13,
div.radcodes_popular_tags .tag_14,
div.radcodes_popular_tags .tag_15,
div.radcodes_popular_tags .tag_16,
div.radcodes_popular_tags .tag_17,
div.radcodes_popular_tags .tag_18 {
  font-size: 1.3em;
}
div.radcodes_popular_tags .tag_19,
div.radcodes_popular_tags .tag_20,
div.radcodes_popular_tags .tag_21,
div.radcodes_popular_tags .tag_22,
div.radcodes_popular_tags .tag_23,
div.radcodes_popular_tags .tag_24,
div.radcodes_popular_tags .tag_25,
div.radcodes_popular_tags .tag_26,
div.radcodes_popular_tags .tag_27,
div.radcodes_popular_tags .tag_28,
div.radcodes_popular_tags .tag_29,
div.radcodes_popular_tags .tag_30,
div.radcodes_popular_tags .tag_31,
div.radcodes_popular_tags .tag_32,
div.radcodes_popular_tags .tag_33,
div.radcodes_popular_tags .tag_34,
div.radcodes_popular_tags .tag_35 {
  font-size: 1em;
}
div.radcodes_popular_tags .tag_36,
div.radcodes_popular_tags .tag_37,
div.radcodes_popular_tags .tag_38,
div.radcodes_popular_tags .tag_39,
div.radcodes_popular_tags .tag_40,
div.radcodes_popular_tags .tag_41,
div.radcodes_popular_tags .tag_42,
div.radcodes_popular_tags .tag_43,
div.radcodes_popular_tags .tag_44,
div.radcodes_popular_tags .tag_45 {
  font-size: 0.8em; 
}
div.radcodes_popular_tags .tag_46,
div.radcodes_popular_tags .tag_47,
div.radcodes_popular_tags .tag_48,
div.radcodes_popular_tags .tag_49 {
  font-size: 0.7em;
}
div.radcodes_popular_tags a.icon_viewmore {
 margin: 5px 0;
}

/*
 * Radcodes_View_Helper_Radcodes_Map :: InfoWindow bubble pop
 */

div.radcodes_infowindow_pop {
 
}
div.radcodes_infowindow_pop_title {
  font-weight: bold;
}
div.radcodes_infowindow_pop_address {
  margin-bottom: 5px;
}
div.radcodes_infowindow_pop_meta {
  font-weight: normal;
  font-size: .8em;
  color: $theme_font_color_light; 
}
div.radcodes_infowindow_pop_photo {
  float: left;
  margin-right: 10px;
}
span.radcodes_infowindow_pop_meta_owner {
  display: block;
}
span.radcodes_infowindow_pop_meta_owner a {
  font-weight: bold;
}
span.radcodes_infowindow_pop_meta_stat {
 display: block;
}


.radcodes_categories_list
{
  +foreground;
  +rounded;
  overflow: hidden;
}

.radcodes_categories_list > ul > li
{
  padding: 6px;
}

.radcodes_categories_list > ul > li + li
{
  border-color: $theme_foreground_border_color;
  border-top-width: 1px;
  padding-top: 6px;
}
.radcodes_categories_list > ul > li > a.buttonlink {
  background-image: url(~/application/modules/Radcodes/externals/images/category/category.png);
  width: 140px;
  overflow: hidden;
}
.radcodes_categories_list > ul > li > ul {
  margin: 6px 0;
}
.radcodes_categories_list > ul > li > ul > li {
  font-size: 0.8em;
  padding: 6px 0px 6px 6px;
}
.radcodes_categories_list > ul > li > ul > li > a.buttonlink {
  background-image: url(~/application/modules/Radcodes/externals/images/category/category.png);
}
.radcodes_categories_list .radcodes_category_desc {
  font-size: 0.8em;
}
.radcodes_categories_subcategory_toggle {
  display: inline-block;
  width: 7px;
  height: 7px;
  float: right;
  cursor: pointer;
  margin-top: 5px;

  width: 10px;
  height: 10px;
  margin-top: 3px;
  overflow: hidden;
}
.radcodes_categories_subcategory_toggle_collapse {
  background-image: url(~/application/modules/Radcodes/externals/images/category/arrow_left_gray.png);
}
.radcodes_categories_subcategory_toggle_collapse:hover {
  background-image: url(~/application/modules/Radcodes/externals/images/category/arrow_left_blue.png);
}
.radcodes_categories_subcategory_toggle_expand {
  background-image: url(~/application/modules/Radcodes/externals/images/category/arrow_down_gray.png);
}
.radcodes_categories_subcategory_toggle_expand:hover {
  background-image: url(~/application/modules/Radcodes/externals/images/category/arrow_down_blue.png);
}
.radcodes_categories_subcategory_toggle span {
  display: none;
}

/* slideshow buttons */
.radcodes_slideshow_buttons {
  padding: 5px;
  font-size: 0.8em;
}
.radcodes_slideshow_buttons > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 3px;
  cursor: pointer;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_prev {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat 0px 0px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_prev:hover {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat 0px -16px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_play {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -16px 0px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_play:hover {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -16px -16px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_stop {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -32px 0px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_stop:hover {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -32px -16px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_next {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -48px 0px;
}
.radcodes_slideshow_buttons > span.radcodes_slideshow_button_next:hover {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -48px -16px;
}
.radcodes_slideshow_buttons > span > span {
  display: none;
}
.radcodes_sponsored_businesses_action > a {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -48px 0px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.radcodes_sponsored_businesses_action > a:hover {
  background: url("~/application/modules/Radcodes/externals/images/slideshow/buttons.png") no-repeat -48px -16px;
}
.radcodes_sponsored_businesses_action > a > span {
  display: none;
}

.ui-rating .ui-rating-star {
    width: 16px;
    height: 16px;
    font-size: 2px;
    float: left;
    text-decoration: none;
    vertical-align: bottom;
    background-image: url(~/application/modules/Radcodes/externals/images/star.gif);
    background-repeat: no-repeat;
}
.ui-rating a   {cursor: pointer;}
.ui-rating-full  {background-position:left top;}
.ui-rating-empty {background-position:left -32px;}
.ui-rating-hover {background-position:left -48px;}


/* ----------------IMAGE SLIDER------------- */
/* ----------------IMAGE SLIDER------------- */
div.radcodes_SlideItMoo_outer {  
  width:510px; 
  margin: 0 auto;
  display:block; 
  position:relative; 
  padding:0px 5px 0px;
  +rounded(5px);
  border: 1px solid $theme_form_border_color;
  background: $theme_form_background_color;
}
/* create custom forward-backward buttons for this container */
div.radcodes_SlideItMoo_outer .radcodes_SlideItMoo_forward,
div.radcodes_SlideItMoo_outer .radcodes_SlideItMoo_back{ 
  display:block; 
  position:absolute; 
  cursor:pointer; 
  width:22px; 
  height:190px; 
  bottom:0px; 
  right:5px; 
  background:url(~/application/modules/Radcodes/externals/images/slideitmoo/next.png) no-repeat center;  
}
div.radcodes_SlideItMoo_outer .radcodes_SlideItMoo_forward:hover {
  background:url(~/application/modules/Radcodes/externals/images/slideitmoo/next_on.png) no-repeat center;  
}
div.radcodes_SlideItMoo_outer .radcodes_SlideItMoo_back { 
  left:5px; 
  background:url(~/application/modules/Radcodes/externals/images/slideitmoo/prev.png) no-repeat center;  
}
div.radcodes_SlideItMoo_outer .radcodes_SlideItMoo_back:hover { 
  left:5px; 
  background:url(~/application/modules/Radcodes/externals/images/slideitmoo/prev_on.png) no-repeat center;  
}
/* the width is set to show the number of thumbnails that will be visible */
div.radcodes_SlideItMoo_inner { 
  position:relative ; 
  overflow:hidden ; 
  width:462px ; /* set a display width to make the slider look good in case js is disabled */
  margin:0px auto 0px;
  padding:10px 0 10px;
}
/* the thumbnails container; set a width on it so everything will be fine */
div.radcodes_SlideItMoo_items { 
  display:block; 
  position:relative; 
}
/* single element design */
div.radcodes_SlideItMoo_items div.radcodes_SlideItMoo_element { 
  display:block; 
  position:relative; 
  float:left; 
  margin:0px 5px 0px; 
  padding: 5px;
  font-size:11px; 
  width: 134px; 
  text-align:center; 
  color:#FFFFFF;
}
